{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container py-4">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}" novalidate>
      <div>{{ form.csrf_token }}</div>
      <div>
        {{ form.email.label }} <br />
        {{ form.email(size=30) }} <br />
        {% for err in form.email.errors %}
        <span style="color: red">{{ err }}</span>
        {% endfor %}
      </div>
      <div class="mb-4">
        {{ form.password.label }} <br />
        {{ form.password(size=30) }} <br />
        {% for err in form.password.errors %}
        <span style="color: red">{{ err }}</span>
        {% endfor %}
      </div>
      {{ form.submit }}
    </form>
  </div>
{% endblock %}
